<aside class="sidebar">

    <!-- Logo -->
    <div class="logo">
        <h3>
            <i class="bi bi-shield-lock-fill"></i>
            CloudShield
        </h3>
        <p>Enterprise Security Platform</p>
    </div>

    <!-- Navigation -->
    <ul class="nav flex-column mt-3">

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'main.home' %}active{% endif %}"
               href="{{ url_for('main.home') }}">
                <i class="bi bi-house-door-fill"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'dashboard.home' %}active{% endif %}"
               href="{{ url_for('dashboard.home') }}">
                <i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
            </a>
        </li>
         <li class="nav-item">

    <a class="nav-link {% if request.endpoint and request.endpoint.startswith('projects.') %}active{% endif %}"
       href="{{ url_for('projects.home') }}">

        <i class="bi bi-folder-fill"></i>

        <span>Projects</span>

    </a>

</li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'scanner.home' %}active{% endif %}"
               href="{{ url_for('scanner.home') }}">
                <i class="bi bi-search"></i>
                <span>Scanner</span>
            </a>
        </li>
        <li class="nav-item">
    <a class="nav-link {% if request.endpoint and request.endpoint.startswith('assets.') %}active{% endif %}"
       href="{{ url_for('assets.home') }}">

        <i class="bi bi-hdd-network"></i>

        <span>Assets</span>

    </a>
</li>

    </ul>

    <div class="divider mx-3"></div>

    <!-- Status -->
    <div class="px-3">

        <h6 class="text-muted mb-3">
            SYSTEM STATUS
        </h6>

        <div class="mb-2">
            <span class="badge bg-success w-100">
                🟢 Scanner Ready
            </span>
        </div>

        <div class="mb-2">
            <span class="badge bg-success w-100">
                🟢 Database Connected
            </span>
        </div>

        <div class="mb-2">
            <span class="badge bg-success w-100">
                🟢 API Running
            </span>
        </div>

    </div>

    <div class="divider mx-3"></div>

    <!-- Logout -->
    <div class="p-3">

        <a href="{{ url_for('auth.logout') }}"
           class="btn btn-danger w-100">

            <i class="bi bi-box-arrow-right"></i>

            Logout

        </a>

    </div>

</aside>