<div class="card shadow-sm border-0 mb-4">

    <div class="card-body">

        <div class="d-flex justify-content-between mb-2">

            <span>

                Scan Progress

            </span>

            <span id="progress-text">

                0%

            </span>

        </div>

        <div class="progress"
             style="height:22px;">

            <div
                id="scan-progress-bar"

                class="progress-bar progress-bar-striped progress-bar-animated"

                role="progressbar"

                style="width:0%;">

                0%

            </div>

        </div>

    </div>

</div>