# ======================================
# Flask Configuration
# ======================================

SECRET_KEY=e371ed3e8da2b5c0c6e953762e1e1f7c90f812d602c020cf2f6e5656da697611
e
FLASK_ENV=development

# ======================================
# Database
# ======================================

DATABASE_URL=sqlite:///cloudshield.db

# ======================================
# AWS Configuration (Optional)
# ======================================

AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# ======================================
# Email Configuration (Optional)
# ======================================

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=True
MAIL_USE_SSL=False