#live-console{

    font-family:Consolas,monospace;
    
    font-size:13px;
    
    }
    
    #scan-status-card{
    
    transition:.3s;
    
    }
    
    .progress{
    
    border-radius:20px;
    
    }
    
    .progress-bar{
    
    font-weight:600;
    
    }