<div class="card shadow mb-4">

    <div class="card-header bg-info text-white">

        <h5>🌍 DNS Records</h5>

    </div>

    <div class="card-body">

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Record</th>

                    <th>Value</th>

                </tr>

            </thead>

            <tbody>

            {% for record, values in result.dns.items() %}

                <tr>

                    <td>

                        <strong>{{ record }}</strong>

                    </td>

                    <td>

                        {% if values %}

                            {% for value in values %}

                                {{ value }}<br>

                            {% endfor %}

                        {% else %}

                            <span class="text-muted">

                                Not Found

                            </span>

                        {% endif %}

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>