<div class="card shadow mb-4">

    <div class="card-header bg-dark text-white">

        <h5>

            🛡 Security Headers

        </h5>

    </div>

    <div class="card-body">

        <h4>

            Security Score

            <span class="badge bg-success">

                {{ result.headers.score }}%

            </span>

        </h4>

        <hr>

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Header</th>

                    <th>Status</th>

                    <th>Severity</th>

                </tr>

            </thead>

            <tbody>

            {% for item in result.headers.analysis %}

                <tr>

                    <td>

                        {{ item.header }}

                    </td>

                    <td>

                        {% if item.status == "Present" %}

                        <span class="badge bg-success">

                            Present

                        </span>

                        {% elif item.status == "Report Only" %}

                        <span class="badge bg-warning">

                            Report Only

                        </span>

                        {% else %}

                        <span class="badge bg-danger">

                            Missing

                        </span>

                        {% endif %}

                    </td>

                    <td>

                        {{ item.severity }}

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>